In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('lista_dados_sage.csv',sep=';')

In [3]:
import datetime

In [4]:
df.head()

,ibge,uf,cidade,n_semana,n_ano,total_acumulado,total_investigacao,total_confirmado,total_descartado,total_obito_notificado,total_obito_investigado,total_obito_confirmado,total_obito_descartado
0,120001,AC,Acrelândia,6,2016,0,0,0,0,0,0,0,0
1,120005,AC,Assis Brasil,6,2016,0,0,0,0,0,0,0,0
2,120010,AC,Brasiléia,6,2016,0,0,0,0,0,0,0,0
3,120010,AC,Brasiléia,37,2016,1,1,0,0,0,0,0,0
4,120010,AC,Brasiléia,38,2016,1,1,0,0,0,0,0,0

In [5]:
df['periodo'] = df[['n_semana', 'n_ano']].apply(lambda x: ''.join(x), axis=1)

TypeError: ('sequence item 0: expected str instance, int found', 'occurred at index 0')

In [14]:
df.n_semana.apply(str)

0         6
1         6
2         6
3        37
4        38
5        39
6        40
7        41
8        42
9        43
10       44
11       45
12       46
13       47
14       48
15       50
16        6
17        6
18       44
19       45
20       46
21       47
22       48
23       50
24        6
25        7
26        8
27        9
28       10
29       11
         ..
67213    20
67214    21
67215    22
67216    23
67217    24
67218    25
67219    26
67220    27
67221    28
67222    29
67223    30
67224    31
67225    32
67226    33
67227    34
67228    35
67229    36
67230    37
67231    38
67232    39
67233    40
67234    41
67235    42
67236    43
67237    44
67238    45
67239    46
67240    47
67241    48
67242    50
Name: n_semana, Length: 67243, dtype: object

In [15]:
df.n_ano.apply(str)

0        2016
1        2016
2        2016
3        2016
4        2016
5        2016
6        2016
7        2016
8        2016
9        2016
10       2016
11       2016
12       2016
13       2016
14       2016
15       2016
16       2016
17       2016
18       2016
19       2016
20       2016
21       2016
22       2016
23       2016
24       2016
25       2016
26       2016
27       2016
28       2016
29       2016
         ...
67213    2016
67214    2016
67215    2016
67216    2016
67217    2016
67218    2016
67219    2016
67220    2016
67221    2016
67222    2016
67223    2016
67224    2016
67225    2016
67226    2016
67227    2016
67228    2016
67229    2016
67230    2016
67231    2016
67232    2016
67233    2016
67234    2016
67235    2016
67236    2016
67237    2016
67238    2016
67239    2016
67240    2016
67241    2016
67242    2016
Name: n_ano, Length: 67243, dtype: object