### Load das bibliotecas

In [1]:
import pandas as pd
import pickle

### Load dos datasets
#### SAGE

In [2]:
dados_sage = pd.read_csv('../../data/FINAL/lista_dados_sage_MENSAL.csv', sep=';')
dados_sage.uf = dados_sage.uf.astype(str)

In [3]:
dados_sage.head()

,ibge,uf,cidade,n_mes,n_ano,total_acumulado,total_investigacao,total_confirmado,total_descartado,total_obito_notificado,total_obito_investigado,total_obito_confirmado,total_obito_descartado
0,110001,RO,Alta Floresta D'Oeste,10,2016,5,5,0,0,0,0,0,0
1,110001,RO,Alta Floresta D'Oeste,11,2016,8,8,0,0,0,0,0,0
2,110001,RO,Alta Floresta D'Oeste,12,2016,2,2,0,0,0,0,0,0
3,110002,RO,Ariquemes,10,2016,1,1,0,0,0,0,0,0
4,110002,RO,Ariquemes,11,2016,4,4,0,0,0,0,0,0

In [4]:
dados_sage.shape

(17728, 13)

#### IBGE

In [5]:
dados_ibge = pickle.load(open("../../data/FINAL/IBGE_Mun", "rb"))
dados_ibge.drop(columns=['ANO', 'UF', 'Codmun7', 'Município'], inplace=True)
dados_ibge.rename(columns = {'T_AGUA': 't_agua',
                             'T_BANAGUA': 't_banagua',
                             'T_DENS': 't_dens',
                             'T_LIXO': 't_lixo',
                             'T_LUZ': 't_luz',
                             'AGUA_ESGOTO': 'agua_esgoto'}, inplace=True)

In [6]:
dados_ibge.head()

        Codmun6  t_agua  t_banagua  t_dens  t_lixo  t_luz  agua_esgoto
11130  110001.0   93.69      80.20   22.58   94.05  93.98         9.31
11131  110002.0   98.54      85.35   27.15   96.72  98.58        11.40
11132  110003.0   95.49      91.63   19.93   99.14  96.36         3.31
11133  110004.0   97.96      93.44   20.50   98.17  98.89         1.85
11134  110005.0   97.53      86.87   16.66   91.89  98.85         5.34

In [7]:
dados_ibge.shape

(5565, 7)

#### Pluviometria (chuvas)

In [8]:
dados_pluviometria = pd.read_csv('../../data/FINAL/dfChuvasFinal.csv', sep=';')
dados_pluviometria.rename(columns = {'Evaporacao Piche': 'evaporacao_piche',
                                     'Insolacao': 'insolacao',
                                     'Precipitacao': 'precipitacao',
                                     'Temp Comp Media': 'temp_comp_media',
                                     'TempMaxima': 'temp_maxima',
                                     'TempMinima': 'temp_minima',
                                     'Umidade Relativa Media': 'umidade_relativa_media',
                                     'Velocidade do Vento Media': 'velocidade_do_vento_media'}, inplace=True)

In [9]:
dados_pluviometria.head()

,evaporacao_piche,insolacao,precipitacao,temp_comp_media,temp_maxima,temp_minima,umidade_relativa_media,velocidade_do_vento_media,Ano,Mes,UF
0,0.000000,2.680899,7.360674,24.926292,31.068539,23.105618,87.132022,0.373788,2016,1,AC
1,4.666452,6.088387,5.526452,26.336129,31.812258,22.159355,76.472581,2.296774,2016,1,AL
2,0.000000,2.876590,5.387277,25.839084,30.837405,21.756997,76.968830,0.908026,2016,1,AM
3,3.303226,4.851613,3.751613,26.696774,31.987097,23.883871,78.637097,1.962366,2016,1,AP
4,0.087532,4.308052,11.418182,18.510571,22.702208,21.115455,55.770455,0.892133,2016,1,BA

In [10]:
dados_pluviometria.shape

(311, 11)

#### Google Trends

In [11]:
dados_trends = pd.read_csv('../../data/FINAL/region_trend.csv', sep=';')
aux = dados_trends['month_year'].str.split("-", expand = True)
dados_trends['month'] = aux[0].astype(int)
dados_trends['year'] = aux[1].astype(int)
dados_trends.drop(columns=['location', 'keyword', 'geo', 'gprop', 'month_year', 'cod_uf'], inplace=True)
dados_trends.rename(columns = {"hits": "google_trends_score"}, inplace = True)

In [12]:
dados_trends.head()

   google_trends_score sigla_uf  month  year
0                   71       DF      3  2016
1                   48       DF      1  2016
2                   39       DF      4  2016
3                   66       DF      5  2016
4                   58       DF      8  2016

In [13]:
dados_trends.shape

(324, 4)

### Join dos datasets

In [14]:
dados_final = pd.merge(dados_sage, dados_ibge, left_on='ibge', right_on='Codmun6', how='left')
dados_final.drop(columns=['Codmun6'], inplace=True)

In [15]:
dados_final.head()

,ibge,uf,cidade,n_mes,n_ano,total_acumulado,total_investigacao,total_confirmado,total_descartado,total_obito_notificado,total_obito_investigado,total_obito_confirmado,total_obito_descartado,t_agua,t_banagua,t_dens,t_lixo,t_luz,agua_esgoto
0,110001,RO,Alta Floresta D'Oeste,10,2016,5,5,0,0,0,0,0,0,93.69,80.20,22.58,94.05,93.98,9.31
1,110001,RO,Alta Floresta D'Oeste,11,2016,8,8,0,0,0,0,0,0,93.69,80.20,22.58,94.05,93.98,9.31
2,110001,RO,Alta Floresta D'Oeste,12,2016,2,2,0,0,0,0,0,0,93.69,80.20,22.58,94.05,93.98,9.31
3,110002,RO,Ariquemes,10,2016,1,1,0,0,0,0,0,0,98.54,85.35,27.15,96.72,98.58,11.40
4,110002,RO,Ariquemes,11,2016,4,4,0,0,0,0,0,0,98.54,85.35,27.15,96.72,98.58,11.40

In [16]:
dados_final.shape

(17728, 19)

In [17]:
dados_final2 = pd.merge(dados_final, dados_pluviometria, left_on=['uf', 'n_mes', 'n_ano'], right_on=['UF', 'Mes', 'Ano'], how='left')
dados_final2.drop(columns=['UF', 'Mes', 'Ano'], inplace=True)

In [18]:
# Filtramos os dados do estado "AC" para facilitar a validação,
# uma vez que o estado "RO" nao possui dados de pluviometria
dados_final2.loc[dados_final2.uf.str.contains('AC')].head()

,ibge,uf,cidade,n_mes,n_ano,total_acumulado,total_investigacao,total_confirmado,total_descartado,total_obito_notificado,...,t_luz,agua_esgoto,evaporacao_piche,insolacao,precipitacao,temp_comp_media,temp_maxima,temp_minima,umidade_relativa_media,velocidade_do_vento_media
89,120001,AC,Acrelândia,2,2016,0,0,0,0,0,...,94.56,23.82,0.0,2.206780,8.99322,26.018305,31.108475,23.845763,86.546610,0.585648
90,120005,AC,Assis Brasil,2,2016,0,0,0,0,0,...,84.40,28.79,0.0,2.206780,8.99322,26.018305,31.108475,23.845763,86.546610,0.585648
91,120010,AC,Brasiléia,2,2016,0,0,0,0,0,...,91.25,20.40,0.0,2.206780,8.99322,26.018305,31.108475,23.845763,86.546610,0.585648
92,120010,AC,Brasiléia,9,2016,3,3,0,0,0,...,91.25,20.40,0.0,2.971667,2.12500,26.052667,33.465000,21.125000,80.437500,0.840252
93,120010,AC,Brasiléia,10,2016,5,5,0,0,0,...,91.25,20.40,0.0,2.835484,8.98871,26.809677,33.322581,22.991935,83.290323,0.732939

In [19]:
dados_final2.shape

(17728, 27)

In [20]:
dados_final3 = pd.merge(dados_final2, dados_trends, left_on=['uf', 'n_mes', 'n_ano'], right_on=['sigla_uf', 'month', 'year'], how='left')
dados_final3.drop(columns=['sigla_uf', 'month', 'year'], inplace=True)

In [21]:
# Filtramos os dados do estado "AC" para facilitar a validação,
# uma vez que o estado "RO" nao possui dados de pluviometria
dados_final3.loc[dados_final2.uf.str.contains('AC')].head()

,ibge,uf,cidade,n_mes,n_ano,total_acumulado,total_investigacao,total_confirmado,total_descartado,total_obito_notificado,...,agua_esgoto,evaporacao_piche,insolacao,precipitacao,temp_comp_media,temp_maxima,temp_minima,umidade_relativa_media,velocidade_do_vento_media,google_trends_score
89,120001,AC,Acrelândia,2,2016,0,0,0,0,0,...,23.82,0.0,2.206780,8.99322,26.018305,31.108475,23.845763,86.546610,0.585648,53
90,120005,AC,Assis Brasil,2,2016,0,0,0,0,0,...,28.79,0.0,2.206780,8.99322,26.018305,31.108475,23.845763,86.546610,0.585648,53
91,120010,AC,Brasiléia,2,2016,0,0,0,0,0,...,20.40,0.0,2.206780,8.99322,26.018305,31.108475,23.845763,86.546610,0.585648,53
92,120010,AC,Brasiléia,9,2016,3,3,0,0,0,...,20.40,0.0,2.971667,2.12500,26.052667,33.465000,21.125000,80.437500,0.840252,0
93,120010,AC,Brasiléia,10,2016,5,5,0,0,0,...,20.40,0.0,2.835484,8.98871,26.809677,33.322581,22.991935,83.290323,0.732939,0

In [22]:
dados_final3.shape

(17728, 28)

### Tratando os missing values gerados a partir dos left joins

In [23]:
dados_final3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17728 entries, 0 to 17727
Data columns (total 28 columns):
ibge                         17728 non-null int64
uf                           17728 non-null object
cidade                       17728 non-null object
n_mes                        17728 non-null int64
n_ano                        17728 non-null int64
total_acumulado              17728 non-null int64
total_investigacao           17728 non-null int64
total_confirmado             17728 non-null int64
total_descartado             17728 non-null int64
total_obito_notificado       17728 non-null int64
total_obito_investigado      17728 non-null int64
total_obito_confirmado       17728 non-null int64
total_obito_descartado       17728 non-null int64
t_agua                       17728 non-null float64
t_banagua                    17728 non-null float64
t_dens                       17728 non-null float64
t_lixo                       17728 non-null float64
t_luz                        17728 non-null float64
agua_esgoto                  17728 non-null float64
evaporacao_piche             17635 non-null float64
insolacao                    17635 non-null float64
precipitacao                 17635 non-null float64
temp_comp_media              17635 non-null float64
temp_maxima                  17635 non-null float64
temp_minima                  17635 non-null float64
umidade_relativa_media       17635 non-null float64
velocidade_do_vento_media    17635 non-null float64
google_trends_score          17728 non-null int64
dtypes: float64(14), int64(12), object(2)
memory usage: 3.9+ MB

Conforme visto acima, existem registros com missing values nas colunas:
* evaporacao_piche
* insolacao
* precipitacao
* temp_comp_media
* temp_maxima
* temp_minima
* umidade_relativa_media
* velocidade_do_vento_media

Isso era esperado, pois é sabido que não há dados de Pluviometria para o estado "RO" e para alguns meses em outros estados.

Como se tratam de variáeis contínuas, trataremos esses casos substituindo "NaN" por zero.

In [36]:
dados_final3.fillna(0, inplace=True)

In [37]:
dados_final3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17728 entries, 0 to 17727
Data columns (total 28 columns):
ibge                         17728 non-null int64
uf                           17728 non-null object
cidade                       17728 non-null object
n_mes                        17728 non-null int64
n_ano                        17728 non-null int64
total_acumulado              17728 non-null int64
total_investigacao           17728 non-null int64
total_confirmado             17728 non-null int64
total_descartado             17728 non-null int64
total_obito_notificado       17728 non-null int64
total_obito_investigado      17728 non-null int64
total_obito_confirmado       17728 non-null int64
total_obito_descartado       17728 non-null int64
t_agua                       17728 non-null float64
t_banagua                    17728 non-null float64
t_dens                       17728 non-null float64
t_lixo                       17728 non-null float64
t_luz                        17728 non-null float64
agua_esgoto                  17728 non-null float64
evaporacao_piche             17728 non-null float64
insolacao                    17728 non-null float64
precipitacao                 17728 non-null float64
temp_comp_media              17728 non-null float64
temp_maxima                  17728 non-null float64
temp_minima                  17728 non-null float64
umidade_relativa_media       17728 non-null float64
velocidade_do_vento_media    17728 non-null float64
google_trends_score          17728 non-null int64
dtypes: float64(14), int64(12), object(2)
memory usage: 3.9+ MB

Tudo OK agora!

Podemos salvar o novo dataset com os novos atributos (features)!

### Salvando os dados

In [39]:
# csv
dados_final3.to_csv('../../data/FINAL/lista_dados_sage_FINAL.csv', index=False, sep=';')

### Validando a carga dos dados salvos

In [40]:
# csv
df1 = pd.read_csv('../../data/FINAL/lista_dados_sage_FINAL.csv', sep=';')

In [41]:
df1

,ibge,uf,cidade,n_mes,n_ano,total_acumulado,total_investigacao,total_confirmado,total_descartado,total_obito_notificado,...,agua_esgoto,evaporacao_piche,insolacao,precipitacao,temp_comp_media,temp_maxima,temp_minima,umidade_relativa_media,velocidade_do_vento_media,google_trends_score
0,110001,RO,Alta Floresta D'Oeste,10,2016,5,5,0,0,0,...,9.31,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,71
1,110001,RO,Alta Floresta D'Oeste,11,2016,8,8,0,0,0,...,9.31,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,30
2,110001,RO,Alta Floresta D'Oeste,12,2016,2,2,0,0,0,...,9.31,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,55
3,110002,RO,Ariquemes,10,2016,1,1,0,0,0,...,11.40,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,71
4,110002,RO,Ariquemes,11,2016,4,4,0,0,0,...,11.40,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,30
5,110002,RO,Ariquemes,12,2016,1,1,0,0,0,...,11.40,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,55
6,110011,RO,Jaru,10,2016,2,2,0,0,0,...,15.11,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,71
7,110011,RO,Jaru,11,2016,4,4,0,0,0,...,15.11,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,30
8,110011,RO,Jaru,12,2016,1,1,0,0,0,...,15.11,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,55
9,110012,RO,Ji-Paraná,2,2016,3,3,0,0,0,...,5.87,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,85
10,110012,RO,Ji-Paraná,3,2016,5,5,0,0,0,...,5.87,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,88
11,110012,RO,Ji-Paraná,4,2016,10,5,0,5,0,...,5.87,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,40
12,110012,RO,Ji-Paraná,5,2016,8,4,0,4,2,...,5.87,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,46
13,110012,RO,Ji-Paraná,6,2016,12,8,0,4,4,...,5.87,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,16
14,110012,RO,Ji-Paraná,7,2016,15,10,0,5,5,...,5.87,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,23
15,110012,RO,Ji-Paraná,8,2016,12,8,0,4,4,...,5.87,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,40
16,110012,RO,Ji-Paraná,9,2016,12,8,0,4,4,...,5.87,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,93
17,110012,RO,Ji-Paraná,10,2016,20,15,0,5,5,...,5.87,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,71
18,110012,RO,Ji-Paraná,11,2016,20,16,0,4,4,...,5.87,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,30
19,110012,RO,Ji-Paraná,12,2016,5,4,0,1,1,...,5.87,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,55
20,110013,RO,Machadinho D'Oeste,10,2016,3,3,0,0,0,...,17.19,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,71
21,110013,RO,Machadinho D'Oeste,11,2016,4,4,0,0,0,...,17.19,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,30
22,110013,RO,Machadinho D'Oeste,12,2016,1,1,0,0,0,...,17.19,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,55
23,110015,RO,Ouro Preto do Oeste,8,2016,2,2,0,0,2,...,5.61,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,40
24,110015,RO,Ouro Preto do Oeste,9,2016,4,4,0,0,4,...,5.61,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,93
25,110015,RO,Ouro Preto do Oeste,10,2016,5,5,0,0,5,...,5.61,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,71
26,110015,RO,Ouro Preto do Oeste,11,2016,4,4,0,0,4,...,5.61,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,30
27,110015,RO,Ouro Preto do Oeste,12,2016,1,1,0,0,1,...,5.61,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,55
28,110018,RO,Pimenta Bueno,2,2016,3,1,0,2,0,...,4.70,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,85
29,110018,RO,Pimenta Bueno,3,2016,4,0,0,4,0,...,4.70,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17698,522045,GO,Senador Canedo,10,2016,15,5,0,10,0,...,4.85,7.432903,4.009355,3.610968,26.012581,33.086452,20.540323,57.104032,1.370503,33
17699,522045,GO,Senador Canedo,11,2016,12,4,0,8,0,...,4.85,4.494333,2.830000,7.154333,24.476467,30.384333,20.413667,66.062500,1.204658,31
17700,522045,GO,Senador Canedo,12,2016,3,1,0,2,0,...,4.85,4.605484,3.268065,6.255161,24.944968,30.965161,20.506774,72.858871,1.342188,37
17701,522140,GO,Trindade,8,2016,4,4,0,0,0,...,2.48,9.422903,4.806774,0.582258,21.529419,29.034194,17.230645,46.045161,1.361127,35
17702,522140,GO,Trindade,9,2016,4,4,0,0,0,...,2.48,10.308333,4.644333,0.834667,24.124733,31.502000,19.748667,44.476667,1.426058,37
17703,522140,GO,Trindade,10,2016,18,12,6,0,0,...,2.48,7.432903,4.009355,3.610968,26.012581,33.086452,20.540323,57.104032,1.370503,33
17704,522140,GO,Trindade,11,2016,22,13,9,0,0,...,2.48,4.494333,2.830000,7.154333,24.476467,30.384333,20.413667,66.062500,1.204658,31
17705,522140,GO,Trindade,12,2016,6,2,4,0,0,...,2.48,4.605484,3.268065,6.255161,24.944968,30.965161,20.506774,72.858871,1.342188,37
17706,522185,GO,Valparaíso de Goiás,2,2016,13,13,0,0,0,...,3.10,4.600690,4.438276,5.967931,22.892483,28.967931,20.817931,71.812931,1.148785,74
17707,522185,GO,Valparaíso de Goiás,3,2016,21,15,0,6,0,...,3.10,4.107419,3.991613,6.678065,22.652968,28.194839,21.020323,73.104032,1.160237,78
17708,522185,GO,Valparaíso de Goiás,4,2016,30,20,0,10,0,...,3.10,6.906333,5.236000,0.309000,22.771133,29.131000,19.603000,59.290833,1.219236,52
17709,522185,GO,Valparaíso de Goiás,5,2016,24,10,0,14,0,...,3.10,6.005161,4.653871,0.432581,21.347935,28.174194,18.123226,61.067742,1.078461,54
17710,522185,GO,Valparaíso de Goiás,6,2016,24,8,0,16,0,...,3.10,6.439667,4.768667,0.307000,19.342400,26.489000,15.771333,57.870833,1.153071,43
17711,522185,GO,Valparaíso de Goiás,7,2016,30,10,0,20,0,...,3.10,8.411613,5.494194,0.000000,20.234516,28.020323,15.396452,42.949194,1.222671,33
17712,522185,GO,Valparaíso de Goiás,8,2016,24,8,0,16,0,...,3.10,9.422903,4.806774,0.582258,21.529419,29.034194,17.230645,46.045161,1.361127,35
17713,522185,GO,Valparaíso de Goiás,9,2016,24,8,0,16,0,...,3.10,10.308333,4.644333,0.834667,24.124733,31.502000,19.748667,44.476667,1.426058,37
17714,522185,GO,Valparaíso de Goiás,10,2016,30,10,0,20,0,...,3.10,7.432903,4.009355,3.610968,26.012581,33.086452,20.540323,57.104032,1.370503,33
17715,522185,GO,Valparaíso de Goiás,11,2016,24,8,0,16,0,...,3.10,4.494333,2.830000,7.154333,24.476467,30.384333,20.413667,66.062500,1.204658,31
17716,522185,GO,Valparaíso de Goiás,12,2016,6,2,0,4,0,...,3.10,4.605484,3.268065,6.255161,24.944968,30.965161,20.506774,72.858871,1.342188,37
17717,530010,DF,Brasília,2,2016,104,30,0,74,1,...,0.72,4.843103,7.979310,4.572414,22.115517,29.463793,16.910345,69.560345,1.375057,50
17718,530010,DF,Brasília,3,2016,148,16,12,120,4,...,0.72,3.748333,6.181667,5.521667,21.795000,27.900000,17.730000,72.087500,1.294061,71
17719,530010,DF,Brasília,4,2016,188,7,22,159,4,...,0.72,6.177966,8.898305,0.186441,22.456271,29.415254,16.086441,61.194915,1.633346,39
17720,530010,DF,Brasília,5,2016,171,13,20,138,4,...,0.72,5.075000,7.711667,0.301667,17.659667,24.780000,14.580000,57.433333,1.232000,66
17721,530010,DF,Brasília,6,2016,184,16,21,147,4,...,0.72,5.687931,7.606897,0.000000,15.567241,22.332759,12.660345,54.750000,1.972758,38
17722,530010,DF,Brasília,7,2016,244,19,30,195,5,...,0.72,7.081034,8.610345,0.000000,18.363793,26.284483,12.606897,46.297414,1.753704,48
17723,530010,DF,Brasília,8,2016,214,21,28,165,4,...,0.72,7.282759,7.986207,0.484483,19.611724,27.356897,14.156897,45.810345,1.846641,58
17724,530010,DF,Brasília,9,2016,220,12,33,175,5,...,0.72,9.513793,7.555172,1.074138,21.491379,28.822414,16.855172,42.741379,1.877101,34
17725,530010,DF,Brasília,10,2016,290,24,47,219,10,...,0.72,6.422951,6.600000,2.508197,21.972131,29.681967,17.181967,59.311475,1.521019,41
17726,530010,DF,Brasília,11,2016,258,23,46,189,8,...,0.72,3.503333,4.095000,8.473333,21.402000,27.106667,17.533333,76.829167,1.431413,43
17727,530010,DF,Brasília,12,2016,69,5,13,51,2,...,0.72,4.272131,6.716393,5.660656,21.295082,27.540984,17.008197,71.364754,1.393916,43

In [42]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17728 entries, 0 to 17727
Data columns (total 28 columns):
ibge                         17728 non-null int64
uf                           17728 non-null object
cidade                       17728 non-null object
n_mes                        17728 non-null int64
n_ano                        17728 non-null int64
total_acumulado              17728 non-null int64
total_investigacao           17728 non-null int64
total_confirmado             17728 non-null int64
total_descartado             17728 non-null int64
total_obito_notificado       17728 non-null int64
total_obito_investigado      17728 non-null int64
total_obito_confirmado       17728 non-null int64
total_obito_descartado       17728 non-null int64
t_agua                       17728 non-null float64
t_banagua                    17728 non-null float64
t_dens                       17728 non-null float64
t_lixo                       17728 non-null float64
t_luz                        17728 non-null float64
agua_esgoto                  17728 non-null float64
evaporacao_piche             17728 non-null float64
insolacao                    17728 non-null float64
precipitacao                 17728 non-null float64
temp_comp_media              17728 non-null float64
temp_maxima                  17728 non-null float64
temp_minima                  17728 non-null float64
umidade_relativa_media       17728 non-null float64
velocidade_do_vento_media    17728 non-null float64
google_trends_score          17728 non-null int64
dtypes: float64(14), int64(12), object(2)
memory usage: 3.8+ MB